#wrapper {
  width: 960px;
  margin: auto;
}
.header {
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: 480px) {
  .header li {
    width: 100%;
    border-bottom: 1px solid #444;
  }
}
